Package: com.chocolate2018.independentvoicemail
Name: IndependentVoicemail
Version: 0.1.0
Architecture: iphoneos-arm64
Description: Independent voicemail tweak for iOS 16
Maintainer: Chocolate2018
Author: Chocolate2018
Section: Tweaks
Depends: mobilesubstrate
